:root {
    --cor-principal: white;
    --cor-texto: #F0F8FF;
    --cor-botao: #A9A9A1;
    --cor-card: rgba(10, 25, 20, 0.336);
}

body {
    background-color: var(--cor-principal);
    margin: 0;
    height: 0;
}

button {
    margin-left: 30px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.445) 4px 4px 8px 2px;
    background-color: var(--cor-botao);
}

h1 {
    margin-top: 80px;
}

div#container {
    background-color: var(--cor-card);
    color: var(--cor-texto);
    backdrop-filter: blur(1px);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.445) 4px 4px 8px 4px;
    width: 80%;
    height: 400px;
    margin: auto;
    text-align: center;
}

label {
    font-weight: bold;
    margin-left: 50px;
}

input {
    margin-top: 30px;
    width: 20%;
    height: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.445) 4px 4px 8px 2px;
}

/*==================================================================
                    Texto de resposta da calculadora
===================================================================*/
span {
    margin: 40px;
    
}

.resposta {
    display: block;
    font-family: "Arial", serif;
    font-size: 12pt;
    text-align: justify;
    color: var(--cor-texto);
    margin-top: 15px auto;
    padding-top: 15px;
    line-height: 1.5;
    /*background-color: rgba(255, 255, 255, 0.644);*/
}

/*=========================================================================
            Imagem de fundo
===========================================================================*/
img {
    position: absolute;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: -1;
}